
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppind', sans-serif;
    scroll-behavior: smooth;

}

body{
    background: var(--bg);
    color: #fff;
    }

:root {
    --primary: #2172B5;
    --light-primary: #6BAED6;
    --very-lprimary: #BDD7E7;
    --bg: #141414;
    --text: #c7c5c5;

}

.navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    max-width: 85vw;
    height: auto;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-logo a {
    text-decoration: none;
    background-image: linear-gradient(to top, #2172B5 0%, #6BAED6 50%, #BDD7E7 100%);
    font-size: 2.5rem;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 50px;

}

.navbar_links{
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.navbar_links:hover{
    border-bottom: 3px solid var(--light-primary);
    color: var(--light-primary);
    font-weight: bolder;

}

ul .nav-btn .btn {
    list-style: none;
    text-decoration: none;
    color: #EFF3FF;
    padding: 9px 20px;
    background:linear-gradient(135deg, var(--primary) 0%, var(--light-primary) 100%);
    border-radius: 20px;
    box-shadow: 0 0 25px var(--primary);
    animation: 0.9s ease-in-out infinite alternate glowing;

}

@keyframes glowing {
    from {
    box-shadow: 0 0 25px var(--light-primary);

} to {
          box-shadow: 0 0 35px var(--primary);

      }
}
/* Nav Media query */

@media (max-width: 1100px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 400px;
        position: absolute;
        top: -1000px;
        right: 0;
        opacity: 0;
        transition: all 0.5s ease;
        z-index: -1;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .nav-menu.active {

        top: 100%;
        opacity: 1;
        height: 350px;
        transition: all 0.5s ease;
        z-index: 99;
        font-size: 1.6rem;
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: #fff;
        display: block;
        cursor: pointer;

    }
    .navbar_toggle:hover .bar {
        background: var(--light-primary);
        box-shadow: 0 0 10px var(--primary),
                    0 0 20px var(--primary);
    }

    .nav-item{
        width: 100%;
    }
    .navbar_links {
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .nav-btn {

        width: 100%;

    }
    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        margin-top: 25px;
    }



    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .contact {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .main-content h1 {
        font-size: 3rem;

    }
    .main-content h2{
        font-size: 2rem;
    }

    .svg-img {
        width: 400px;
    }


}

/*Mobile media query*/
@media (max-width: 800px) {
    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-container h1 {
        font-size: 3rem;
    }
}/*Mobile media query*/
@media (max-width: 480px) {


    .main-content h1 {
        font-size: 2.2rem;
    }
    .main-content h2 {
        font-size: 1.6rem;
    }
}


/*main */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 85vw;
    margin: 2rem auto;
    border: 1px solid var(--primary);
    box-shadow: 0 0 15px var(--primary);
    animation: 3s infinite alternate linear spinner;
    padding: 10px;
    border-radius: 10px;
}

@keyframes spinner {
    0% {
        border-top-color: 3px var(--primary);
        box-shadow: 0 0 25px var(--primary);
    }
    35% {
        border-right-color: 3px var(--primary);
        box-shadow: 0 0 25px var(--primary);
    }
    75%{
        border-bottom-color: 3px var(--primary);
        box-shadow: 0 0 25px var(--primary);
    }
    100% {
        border-left-color: 3px var(--primary);
        box-shadow: 0 0 25px var(--primary);
    }
}

.main-container {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1150px;
    margin-bottom: 25px;

}

.main-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    object-fit: cover; 
    background-position: center center;

}

.img-container{
    margin-top: 25px;

}

.svg-img {
    height: 400px;
    width: 400px;
    border-radius: 50%;

}

h1{
    margin-top: 2rem;
    font-size: 4rem;
}

h1 span {
    background:linear-gradient(135deg, var(--primary) 0%, var(--light-primary) 100%);
    background-clip: text;
    color: transparent;


}
.main-content h2{
    margin-top: 10px;
    font-size: 2.5rem;
    background: linear-gradient(to top, var(--very-lprimary) 0%, var(--light-primary) 100%);
    background-clip: text;
    color: transparent;
}


div .content {
    max-width: 400px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-right: 2.5rem;
}

#carrousel:after{
    content: "";
    animation: slide-words 6s alternate infinite  ease;
}

@keyframes slide-words {
    0%{
        content: "FullStack Dev";
    }
    35%{
    content: "Designer";
    }
    75%{
        content: "Content Creator";
    }
    100%{
        content: "Content Creator";

    }
}

.contact {
    flex-wrap: nowrap;
    margin-bottom: 50px;
    margin-left: 20px;
}

.contact .contact-btn {
    text-decoration: none;
    color: #EFF3FF;
    padding: 20px 30px;
    border-radius: 40px;
    background: linear-gradient(135deg, var(--light-primary) 0%,
                                       var(--primary) 100%);
    font-size: 1rem;
    box-shadow: 0 0 20px var(--primary);
    animation: 0.9s ease-in-out infinite alternate glowing;

}
/*SCroll bat*/

    ::-webkit-scrollbar{
        width: 15px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--light-primary);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: var(--bg);
    }
    ::-webkit-scrollbar-track:hover {
        background-color: rgba(45, 45, 45, 0.87);
    }


.about {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
.about-container h1 {
    text-align: center;
    background: linear-gradient(to top, var(--light-primary) 0%,
                                        var(--primary) 100%);
    background-clip: text;
    color: transparent;
}

/*.about-content {
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-top: 25px;
    justify-content: space-between;
} */

.about-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.about-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid #e6e0e0;
    border-top: 5px solid var(--light-primary);
    animation: 7s infinite alternate linear loader;
}

@keyframes loader {
    100%{
        transform: rotate(35deg);
    }
}
.about-img:hover{
    border: 5px solid var(--primary);
    box-shadow: 0 0 25px var(--primary),
                0 0 35px var(--primary);
}

.about-img img{
    height: 245px;
    width: 245px;
    border-radius: 50%;

}

.abt-text{
    text-align: left;
    width: 100%;
    font-weight: 500;
    font-family: 'arial', sans-serif;
    font-size: 1rem;
    margin-top: 2rem;
    line-height: 1rem;
    color: var(--text);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 3rem auto;
    padding: 10px;
}

section h1 {
    background:linear-gradient(135deg, var(--primary) 0%, var(--light-primary) 100%);
    background-clip: text;
    color: transparent;
}

.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 2rem;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    border: 2px solid var(--primary);
    padding: 2px 1rem;
    text-align: justify;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--light-primary),
                0 0 10px var(--light-primary);


}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-info .icon {
    text-align: center;
    font-size: 3rem;
    color: #2172B5;
}

.card-info h2 {
    text-align: center;
}
.card-info p{
    font-size: 1.2rem;
    line-height: 1rem;
    text-align: center;
    color: var(--text);
}

 /*Skill section*/


/*Skills sections*/
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 85vw;
    margin: 2rem auto;
    padding: 5px;

}

.skill-container {
    width: 100%;
    padding: 10px;
}
.skill-container h2 {
    text-align: center;
    background: linear-gradient(to top, var(--primary) 0%,
                                    var(--light-primary) 100%);
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
}

.skill-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 20px;
}

.skill-title h3 {
    text-align: left;
    margin-bottom: 10px;
    color: var(--text);
}

.progress-bar{
    width: 350px;
    height: 15px;
    border-radius: 40px;
    background-color: transparent;
    border: 1px solid #444444;
}

.progress{
    height: 15px;
    border-radius: 40px;
    background-color: black;

}

.stage-1{
    width: 25%;
    background-color: red;
}

.stage-2{
    width: 50%;
    background-color: red;

}

.stage-3{
    width: 75%;
    background: linear-gradient(to top, var(--primary) 0%,
    var(--light-primary) 100%);
}

.stage-4{
    width: 90%;
    background: linear-gradient(to top, var(--primary) 0%,
    var(--light-primary) 100%);

}


@media (max-width: 500px) {

    .progress-bar{
        width: 250px;
        height: 15px;

    }

    .progress{
        height: 15px;
        border-radius: 40px;

    }

    .main {
        width: 100%;
        max-width: 95vw;
    }

    .img-container{
        margin: 0 auto;
    }

    .svg-img{
        width: 280px;
        height: 280px;
    }
    
}

/*project section*/

.project-container{
    /*display: flex;
    flex-direction: column;*/
    width: 100%;
    max-width: 1000px;
    margin: 2px auto;
    /*border: 2px solid violet;*/
    padding: 25px 10px;

     /*carrousel prop*/
    overflow: hidden;
    position: relative;


}

.project-container h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
     background: linear-gradient(to top, var(--primary) 0%,
                                    var(--light-primary) 100%);
    background-clip: text;
    color: transparent;
   

}

.project-content{
   /*  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;*/
    gap: 20px;
    overflow: hidden;
    display: flex;
    transition: transform 0.4s ease;

}

.project-card{
    flex: 0 0 250px;
    height: 370px;
    border: 2px solid var(--primary);
    text-align: justify;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;

}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  .project-card {
    min-width: 85%;       /* makes card big on small screen */
  }
}

.prev-btn, .next-btn{
     background: linear-gradient(to top, var(--primary) 0%,
                                    var(--light-primary) 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-clip: text;
    color: transparent;
    box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.9);
    padding: 5px 10px;
    font-size: 1.1rem;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
   

}

.prev-btn:hover,
.next-btn:hover {
    /*transform: translateY(1.2px);*/
    border: 1px solid rgb(67, 208, 251);

}

.prev-btn{
    margin-left: 10px;
    left: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.next-btn{
    right: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.project-card img {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.6s ease-in;

}

.project-card img:hover {
    transform: scale(1.05, 1.05);

}

.project-card .details {
    padding: 2px 10px;

}

.project-card .details h3{
    margin-bottom: 10px;

}

.project-card .details p{
    font-size: 1rem;
    color: #d9d6d6;
}



/*End project section*/


/*Contact form*/
    .form-container{
        width: 100%;
        max-width: 600px;
        /*border: 2px solid violet;*/
        padding: 10px 15px;
        margin: 24px auto;


    }

    .contact-head{
        margin-bottom: 15px;
    }

    .contact-head h2{
        text-align: center;
        background: linear-gradient(to top, var(--primary) 0%,
                                    var(--light-primary) 100%);
        background-clip: text;
        color: transparent;    
        font-size: 2rem;
        margin-bottom: 15px;

    }

    .contact-head p {

        color: #959494;


    }

    .field{
        position: relative;


    }

    input[type='text']{
        width: 100%;
        padding: 8px 28px;
        background-color: #514f4f;
        color: #9f9e9e;
        margin-bottom: 15px;
        border: none;
        border-radius: 10px;
        outline: none;
        font-weight: bolder;



    }

    .field .icon{
        position: absolute;
        top: 0;
        margin-top: 7px;
        font-size: 1.2rem;
        color: hsla(205, 93%, 62%, 0.744);
        margin-left: 5px;
        margin-right: 5px;
        font-weight: bolder;

    }

    .field textarea{
        width: 100%;
        padding: 8px 28px;
        background-color: #514f4f;
        color: #9f9e9e;
        border: none;
        border-radius: 10px;
        outline: none;
        font-weight: bolder;
        margin-bottom: 15px;


    }

    .btn-field{
        width: 100%;
    }

    .btn-field .submit-btn{

        padding: 15px 0;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 20px var(--primary);
        cursor: pointer;
         background: linear-gradient(to top, var(--primary) 0%,
                                    var(--light-primary) 100%);
        background-clip: text;
        color: transparent;  
        width: 100%;       
        font-size: 1.2rem;
        font-weight: bolder;                   


    }

    .btn-field .submit-btn .fa-message{
         font-size: 1.2rem;
        color: hsla(205, 93%, 62%, 0.744);
        font-weight: bolder;

    }



/*End Contact form*/

/* Footer section*/
.footer_container{
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#footer_logo {
    background: linear-gradient(to top, var(--primary) 0%,
                                        var(--light-primary) 100%);
    background-clip: text;
    color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer_links_wrapper {
    display: flex;
}

.footer_link_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_link_items h2{

    margin-bottom: 16px;
}

.footer_link_items > h2 {
    color: var(--primary);
}

.footer_link_items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease-out;
}

.footer_link_items a:hover {
    color: #e9e9e9;
}

/*social*/

.social_icon-link {

    font-size: 24px;
    transition: all 0.6s ease;
}

.social_icon-link .icon {
    color: var(--light-primary);
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.social_icon-link .icon:hover {
    box-shadow: 0 0 6px var(--very-lprimary);
    transform: translateY(-2px);

}

.social_media {
    max-width: 1000px;
    width: 100%;

}

.social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social_logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website_right {
    color: #fff;
}

@media (max-width: 820px) {
    .footer_links {
        padding-top: 2rem;
    }

    #footer_logo {
        margin-bottom: 2rem;
    }

    .website_right {
        margin-bottom: 2rem;
    }

    .footer_links_wrapper {
        flex-direction: column;

    }
    .social_media-wrap {
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    .footer_link_items {
        margin: 0;
        padding: 10px;
        width: 100px;
    }
}

